@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
<h1><span id="pair">Pair</span><span id="a">-a-</span><span id="dox">dox</span></h1>
<main>
    <!--
    make login
    -->


    <form action="/action_page.php" target="">
        <div class="container">
            <h2>
                Ai Difficulty
            </h2>
            <hr />
            <label for="aiDifficulty">AI Difficulty:</label>
            <select id="aiDifficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>

        </div>

        <div class="container choices">
        </div>
    </form>

</main>