@{
    ViewData["Title"] = "Home Page";
}


<img src="/img/PAIR-A-DOX LOGO.png" style="width: 10%; height: 10%; margin: auto;">
<h1 style="text-align: center;">Pair-A-Dox</h1>
<p>A fun and engaging way to familiarize yourself with Set Theory!</p>
<br />
<p>Login</p>
<button onclick="location.href='Login.html'">Login</button>
<p>Don't have an account? Sign up for free!</p>
<button onclick="location.href='signup.html'">Signup</button>
<button onclick="location.href='pair-a-dox.html'">Games</button>