@{
    ViewData["Title"] = "Home Page";
}


<img src="/img/PAIR-A-DOX LOGO.png" style="width: 10%; height: 10%; margin: auto;">
<h1 style="text-align: center;">Pair-A-Dox</h1>
<p>A fun and engaging way to familiarize yourself with Set Theory!</p>
<br />
<button>Singleplayer</button>
<button>Multiplayer</button>