@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
<h1><span id="pair">Pair</span><span id="a">-a-</span><span id="dox">dox</span></h1>
<main>
    <!--
    make login
    -->


    <form action="/action_page.php" target="">
        <div class="container">
            <h2>
                Login
            </h2>
            <hr />
            <!--
            refer to riot login for base
            -->

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>


            <button type="submit" class="loginbtn">Log-in</button>
        </div>

        <div class="container login">
            <p>Don't have an account? <a href="../Pair-a-dox/signup.html">Sign up</a>.</p>
        </div>
    </form>

</main>