@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Play Pair-a-dox";
}
<h1><span id="pair">Pair</span><span id="a">-a-</span><span id="dox">dox</span></h1>
<section class="scoreboard" id="scoreboard">
    <div id="player-score-container" class="score-container">
        Your Score:
        <span id="playerScore" class="score"></span>
    </div>
</section>
<div class="main-container">
    <main id="main-layout">
        <section class="button-container">
            <div id="addCards" class="button inactive">
                Add Cards
            </div>
            <div id="dox" class="button active">
                Dox!
            </div>
            <div id="startNewGameBtn" class="button inactive">
                Start New Game
            </div>
        </section>
        <ul id="cards">
            
        </ul>
    </main>
</div>

<div id="addCardsVoteModal" class="modal" style="display:none;">
    <div class="modal-content">
        <p>Do you agree to add 3 cards to the board?</p>
        <div id="voteButtons">
            <button id="voteYes">Yes</button>
            <button id="voteNo">No</button>
        </div>
        <p id="voteStatus"></p>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script src="~/js/multiplayer.js" asp-append-version="true"></script>
}
