@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Play Pair-a-dox";
}
<h1><span id="pair">Pair</span><span id="a">-a-</span><span id="dox">dox</span></h1>
<div class="main-container">
    <main>
        <section class="scoreboard">
            <div class="score-container">
                Opponent1 Score:
                <span class="score">0</span>
            </div>
            <div class="score-container">
                Opponent2 Score:
                <span class="score">0</span>
            </div>
            <div class="score-container">
                Opponent3 Score:
                <span class="score">0</span>
            </div>
            <div class="score-container">
                Opponent4 Score:
                <span class="score">0</span>
            </div>
            <div class="score-container">
                Opponent5 Score:
                <span class="score">0</span>
            </div>
            <div id="addCards" class="button inactive">
                Add Cards
            </div>
            <div id="dox" class="button active">
                Dox!
            </div>
            <div class="score-container">
                Your Score:
                <span id="playerScore" class="score"></span>
            </div>
        </section>
        <ul id="cards">
            
        </ul>
    </main>
</div>

